# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
packages/*/dist
packages/*/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.swo
*~

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log
database-debug.log
pubsub-debug.log

# Environment variables
.env
.env.production
packages/*/.env

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Yarn
yarn.lock
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# pnpm
pnpm-lock.yaml

# Temporary files
*.tmp
*.temp

# Mobile specific - iOS
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local
packages/mobile/ios/Pods/

# Mobile specific - Android
*.iml
.gradle
local.properties
*.hprof
packages/mobile/android/.gradle/
packages/mobile/android/app/build/
packages/mobile/android/build/
/captures
.externalNativeBuild
.cxx
*.apk
output.json

# Buck
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Fastlane
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
*/fastlane/test_output